---
import HeroGP from "@/components/HeroGP.astro"
import Horarios from "@/components/Horarios.astro"
import Sort from "@/icons/Sort.astro"
import Ticket from "@/icons/Ticket.astro"
import Layout from "@/layouts/Layout.astro"
import { GpService } from "@/lib/gpService"
import { UserService } from "@/lib/userService"
import ListaApuestasGP from "@/sections/ListaApuestasGP.astro"
import Nav from "@/sections/Nav.astro"
import { getSession } from "auth-astro/server"

const { i } = Astro.params
const gpId = parseInt(i || "0")

let gpService = new GpService()
const gp = await gpService.getGp(gpId)

const session = await getSession(Astro.request)

let userService = new UserService()
const isAdmin = await userService.isAdmin(session)
---

<Layout title="F1 Limb">
	<Nav idTemporada={gp.temporada?.id} nombreTemporada={gp.temporada?.nombre} />
	<main class="mx-auto max-w-6xl px-2 pt-16 md:pt-20 lg:px-10">
		<HeroGP gp={gp} />
		<picture class="flex justify-center">
			<img src={"/img/" + gp.circuit} class="h-48" />
		</picture>

		<section class="mx-auto my-10 flex max-w-6xl justify-center">
			<Horarios info={gp} />
		</section>

		<section class="mx-auto my-10 flex max-w-6xl flex-col justify-center gap-2 md:flex-row">
			<a
				href={"/clasificacion/" + gpId}
				title={"Clasificación " + gp.nombre}
				class="flex items-center bg-teal-800 p-3 text-white hover:bg-teal-500 hover:text-black"
			>
				<i><Sort class="mr-1 h-5 w-5 text-white" /></i>
				Clasificación del GP
			</a>
			{
				session?.user?.email && (
					<a
						href={"/gp/" + gpId + "/misapuestas"}
						title={"Mis Apuestas de  " + gp.nombre}
						class="flex items-center bg-teal-800 p-3 text-white hover:bg-teal-500 hover:text-black"
					>
						<Ticket class="mr-1 h-5 w-5 text-white" />
						Mis apuestas
					</a>
				)
			}
			{
				isAdmin && (
					<a
						href={"/gp/" + gpId + "/admin"}
						class="flex items-center bg-red-900 p-3 text-white hover:bg-red-500 hover:text-black"
					>
						<Ticket class="mr-1 h-5 w-5 text-white" />
						Admin
					</a>
				)
			}
		</section>

		<article class="flex flex-col justify-center">
			<ListaApuestasGP gpId={gpId} idTemporada={gp.temporada?.id} />
		</article>
	</main>
</Layout>
