---
import type { TemporadaVO } from "@/lib/model"

import IndiceGanancia from "@/components/IndiceGanancia.astro"
import Layout from "@/layouts/Layout.astro"
import { TemporadaService } from "@/lib/temporadaService"
import ClasificacionEquipos from "@/sections/ClasificacionEquipos.astro"
import ClasificacionIndividual from "@/sections/ClasificacionIndividual.astro"
import ClasificacionTabla from "@/sections/ClasificacionTabla.astro"
import GPCarrusel from "@/sections/GPCarrusel.astro"
import Hero from "@/sections/Hero.astro"
import NavArchive from "@/sections/NavArchive.astro"

// Se preparan las rutas estáticas
export async function getStaticPaths() {
	const temporadaService = new TemporadaService()
	const listArchiveTemps = await temporadaService.getArchiveTemps()
	return listArchiveTemps.map((temporada: TemporadaVO) => ({
		params: { i: temporada.id?.toString() },
	}))
}

const { i } = Astro.params
const temporadaId = parseInt(i || "0")

const temporadaService = new TemporadaService()
const temporada = await temporadaService.getById(temporadaId)

const current = await temporadaService.getCurrentTemporada()
const past = current.id !== temporadaId

if (temporada === null) {
	console.error("temporada no encontrada")
	return
}
---

<Layout title="F1 Limb">
	<NavArchive idTemporada={temporada.id} nombreTemporada={temporada.nombre} past={past} />
	<div class="mx-auto max-w-6xl px-2 pt-10 lg:px-10">
		<Hero temporadaId={temporadaId} />
	</div>
	<main class="mx-auto max-w-6xl px-2 pt-10 lg:px-10">
		<section class="mx-auto mb-10 w-10/12">
			<h2 class="text-xl font-bold">Dinero total</h2>
			<IndiceGanancia idTemporada={temporada.id} />
		</section>
	</main>

	<GPCarrusel idTemporada={temporada.id} past={true} />

	<main class="mx-auto max-w-6xl px-2 pt-10 lg:px-10">
		<article class="mb-10 flex flex-col justify-center gap-12 md:flex-row md:items-start">
			<ClasificacionIndividual idTemporada={temporada.id} />
			<ClasificacionEquipos idTemporada={temporada.id} />
		</article>

		<article class="mb-10 flex flex-col justify-center gap-12 md:flex-row md:items-start">
			<ClasificacionTabla idTemporada={temporada.id} />
		</article>
	</main>
</Layout>
