---
import Layout from "@/layouts/Layout.astro";
import Nav from "@/sections/Nav.astro";
import { equipos } from "@/lib/teams";

import clasificacion from "@/content/clasificacion.json";

equipos.map((e) => {
  e.puntos = 0;
  let usuariosEquipo = clasificacion.filter((u) => u.team.id === e.id);
  usuariosEquipo.map((users) => {
    e.puntos = (e.puntos ?? 0) + (users.puntos ?? 0);
  });
});
equipos.sort((a, b) => {
  if (a.puntos && b.puntos && a.puntos < b.puntos) {
    return 1;
  }
  if (a.puntos && b.puntos && a.puntos > b.puntos) {
    return -1;
  }
  return 0;
});
---

<Layout title="F1 Limb">
  <Nav />
  <main
    class="mx-auto max-w-6xl px-2 pt-16 md:pt-20 lg:px-10 flex flex-col md:flex-row justify-center items-center md:items-start"
  >
    <article class="flex flex-col justify-center">
      <h2 class="text-3xl font-bold text-center mb-5">
        Clasificación individual
      </h2>

      <ul class="max-w-[40rem] mx-auto">
        {
          clasificacion.map((u, i) => (
            <li class="grid grid-cols-[.3fr_1fr_.5fr_1fr] gap-4 hover:bg-gray-300">
              <div class="text-right">{i + 1}</div>
              <div>
                {u.nombre}{" "}
                <small class={"text-xs bg-gray-200 p-1 rounded-lg "}>
                  {u.team.nombre}
                </small>
              </div>
              <div class="text-right">
                {(Math.round((u.ganancia ?? 0) * 100) / 100).toFixed(2)}€
              </div>
              <div>{u.puntos} pts.</div>
            </li>
          ))
        }
      </ul>
    </article>

    <article class="flex flex-col justify-center mt-5 md:mt-0">
      <h2 class="text-3xl font-bold text-center mb-5">
        Clasificación por Equipos
      </h2>
      <ul class="max-w-[40rem] mx-auto">
        {
          equipos.map((e, i) => (
            <li class="grid grid-cols-[.3fr_1fr_1fr] gap-4 hover:bg-gray-300">
              <div class="text-right">{i + 1}</div>
              <div>{e.nombre}</div>
              <div>{e.puntos} pts.</div>
            </li>
          ))
        }
        <ul></ul>
      </ul>
    </article>
  </main></Layout
>
