---
import Check from "@/icons/Check.astro"
import Clock from "@/icons/Clock.astro"
import Close from "@/icons/Close.astro"
import Wrench from "@/icons/Wrench.astro"
import { UserService } from "@/lib/userService"
import { getSession } from "auth-astro/server"

const { participante } = Astro.props

let ganancia = 0
participante.apuestas?.map((a: any) => {
	if (a.estado == 2 || a.estado == 3) {
		ganancia = ganancia + a.ganancia
	}
})

const session = await getSession(Astro.request)
let userService = new UserService()
const isAdmin = await userService.isAdmin(session)
---

<h4 class="m-5 text-2xl">
	{participante.user.nombre}
	<small class="rounded-lg bg-slate-200 p-1 text-xs">{participante.team.nombre}</small>
</h4>
<ul class="mx-7">
	{
		participante.apuestas?.map((a: any) => (
			<li
				class="grid items-center gap-1 py-4 hover:bg-gray-200"
				class:list={[
					{ "grid-cols-[.01fr_1fr_.1fr_.1fr_.1fr]": isAdmin },
					{ "grid-cols-[.01fr_1fr_.1fr_.1fr]": !isAdmin },
				]}
			>
				<span>
					{a.estado == 1 && <Clock class="mr-1 h-5 w-5 text-gray-500" />}
					{a.estado == 2 && <Check class="mr-1 h-5 w-5 text-green-500" />}
					{a.estado == 3 && <Close class="mr-1 h-5 w-5 text-red-500" />}
				</span>
				<span set:html={a.descripcion} />
				<div class="flex text-sm">
					<span class="mx-1 font-semibold">{a.importe}€</span>
					{a.cuota && <span class="font-semibold">@{a.cuota}</span>}
				</div>
				<span
					class:list={[
						"rounded-lg px-1 text-center text-sm",
						{ "bg-gray-300": a.estado === 1 },
						{ "bg-green-300": a.estado === 2 },
						{ "bg-red-300": a.estado === 3 },
					]}
				>
					{a.estado == 1 && Math.round((a.importe * a.cuota - a.importe) * 100) / 100 + "€"}
					{a.estado > 1 && Math.round(a.ganancia * 100) / 100 + "€"}
				</span>
				{isAdmin && (
					<a href={a.gp.id + "/admin/" + a.id} title="Admin apuesta">
						<Wrench class="h-6 w-6 text-red-700 hover:scale-110" />{" "}
					</a>
				)}
			</li>
		))
	}
</ul>

<h5 class="mx-5 mt-5 text-right font-semibold">
	Ganancia: {Math.round(ganancia * 100) / 100}€
</h5>
<hr class="border-gray-300" />
