---
import Check from "@/icons/Check.astro"
import Clock from "@/icons/Clock.astro"
import Close from "@/icons/Close.astro"
const { usuario } = Astro.props

let ganancia = 0
usuario.apuestas?.map((a: any) => {
	if (a.estado == 2 || a.estado == 3) {
		ganancia = ganancia + a.ganancia
	}
})
---

<h4 class="m-5 text-2xl">
	{usuario.nombre}
	<small class="rounded-lg bg-slate-200 p-1 text-xs">{usuario.team.nombre}</small>
</h4>
<ul class="mx-7">
	{
		usuario.apuestas?.map((a: any) => (
			<li class="flex items-center justify-between">
				<div class="flex items-center">
					<span>
						{a.estado == 1 && <Clock class="mr-1 h-5 w-5 text-gray-500 " />}
						{a.estado == 2 && <Check class="mr-1 h-5 w-5 text-green-500 " />}
						{a.estado == 3 && <Close class="mr-1 h-5 w-5 text-red-500 " />}
					</span>
					<span set:html={a.descripcion} />
					<span class="mx-1 font-semibold">{a.importe}€</span>
					{a.cuota && <span class="font-semibold">@{a.cuota}</span>}
				</div>
				<span
					class:list={[
						"ml-1 flex items-center rounded-lg px-1 text-sm ",
						{ "bg-gray-300": a.estado === 1 },
						{ "bg-green-300": a.estado === 2 },
						{ "bg-red-300": a.estado === 3 },
					]}
				>
					{a.estado == 1 && Math.round((a.importe * a.cuota - a.importe) * 100) / 100 + "€"}
					{a.estado > 1 && Math.round(a.ganancia * 100) / 100 + "€"}
				</span>
			</li>
		))
	}
</ul>

<h5 class="mx-5 mt-5 text-right font-semibold">
	Ganancia: {Math.round(ganancia * 100) / 100}€
</h5>
<hr />
