---
import Info from "@/icons/Info.astro"
import Send from "@/icons/Send.astro"
const { gpId, user, descripcion, importe, errors, importeDisponible } = Astro.props

const puedeApostar = importeDisponible > 0
---

<div class="my-20 w-full">
	{errors.general && <p class="font-semibold text-red-500">{errors.general}</p>}

	{
		puedeApostar ? (
			<form method="post">
				<div class="flex flex-col">
					<label class="font-semibold">Descripción de la apuesta</label>
					<textarea
						class="border p-2 outline-1 focus:outline-teal-500"
						class:list={[
							{ "border-red-500": errors.descripcion },
							{ "border-gray-500": !errors.descripcion },
						]}
						rows="5"
						name="descripcion"
						set:html={descripcion}
					/>
					{errors.descripcion && (
						<p class="text-sm font-light italic text-red-500">{errors.descripcion}</p>
					)}
				</div>
				<div class="flex flex-col">
					<label class="font-semibold">Importe</label>
					<input
						type="number"
						name="importe"
						step="0.01"
						max={importeDisponible}
						class="border p-2 outline-1 focus:outline-teal-500"
						class:list={[
							{ "border-red-500": errors.importe },
							{ "border-gray-500": !errors.importe },
						]}
						value={importe}
					/>
					{errors.importe && <p class="text-sm font-light italic text-red-500">{errors.importe}</p>}
					<span class="text-right text-xs italic">Importe disponible {importeDisponible}€</span>
				</div>
				<div class="flex justify-center p-2">
					<button
						type="submit"
						class="flex cursor-pointer items-center border bg-teal-800 p-2 text-white hover:bg-teal-500 hover:text-black"
					>
						<Send class="mr-1 h-4 w-4" /> Enviar
					</button>
				</div>
				<input type="hidden" name="gpId" value={gpId} />
				<input type="hidden" name="userId" value={user.id} />
			</form>
		) : (
			<div class="rounded-md bg-slate-200 p-5">
				<p class="flex">
					<Info class="mr-3 h-6 w-6" /> No tienes más importe disponible para apostar
				</p>
			</div>
		)
	}
</div>
