---
import Countdown from "@/components/Countdown.astro"
import type { GpVO } from "@/lib/model"

interface Props {
	gp: GpVO
	past?: boolean
}
const { gp, past } = Astro.props

const dateOptionsDia: Intl.DateTimeFormatOptions = {
	day: "2-digit",
	month: "short",
	timeZone: "CET",
}

const dateOnlyOptions: Intl.DateTimeFormatOptions = {
	day: "2-digit",
	timeZone: "CET",
}

const dateMonthOptions: Intl.DateTimeFormatOptions = {
	month: "long",
	timeZone: "CET",
}

const dateOptions: Intl.DateTimeFormatOptions = {
	weekday: "short",
	hour: "2-digit",
	minute: "2-digit",
	timeZone: "CET",
}
---

<div class="swiper-slide flex items-center justify-center py-5">
	<article
		class="card-compact relative mx-auto cursor-pointer flex-col justify-center"
		data-card-gp={gp.id}
	>
		<h5 class="z-10 mb-5 flex flex-col text-center text-xl font-semibold">
			<div class="flex flex-col items-center justify-center">
				<img class="h-8" src={"/img/" + gp.flag} />
				<span class="mt-3 text-sm font-bold text-gray-400">{gp.nombre?.toUpperCase()}</span>
				<span class="text-4xl font-extrabold text-white"
					>{gp.carrera?.toLocaleDateString("es-ES", dateOnlyOptions)}</span
				>
				<span class="text-sm text-gray-500"
					>{gp.carrera?.toLocaleDateString("es-ES", dateMonthOptions).toUpperCase()}</span
				>
			</div>
		</h5>
	</article>

	<article data-card-gp={gp.id} class="card-extend relative flex-col justify-center">
		<a href={`${past ? "/archive" : ""}/gp/${gp.id}`} title={"Info " + gp.nombre}>
			<h5 class="z-10 mb-5 flex flex-col text-center text-xl font-semibold text-white">
				<div class="flex flex-col items-center justify-center">
					<img class="mr-2 h-8" src={"/img/" + gp.flag} />
					<div class="flex flex-col">
						{gp.nombre}
						<small class="text-center text-xs font-semibold">
							{gp.libres1?.toLocaleDateString("es-ES", dateOptionsDia)}
							-
							{gp.carrera?.toLocaleDateString("es-ES", dateOptionsDia)}
						</small>
					</div>
				</div>
			</h5>
			<div class="bg-gray-600 p-1">
				<div class="z-10 flex flex-col text-center text-white">
					<span>L1: {gp.libres1?.toLocaleTimeString("es-ES", dateOptions)}</span>

					{gp.libres2 && <span>L2: {gp.libres2?.toLocaleTimeString("es-ES", dateOptions)}</span>}
					{gp.libres3 && <span>L3: {gp.libres3?.toLocaleTimeString("es-ES", dateOptions)}</span>}
					{
						gp.clasificacionSprint && (
							<span>SQ: {gp.clasificacionSprint?.toLocaleTimeString("es-ES", dateOptions)}</span>
						)
					}
					{gp.sprint && <span>SR: {gp.sprint?.toLocaleTimeString("es-ES", dateOptions)}</span>}
				</div>

				<hr class="z-10 my-2 border-gray-300" />
				<div class="z-10 flex flex-col text-center text-white">
					<span
						>Q:
						<span class="font-bold"
							>{gp.clasificacion?.toLocaleTimeString("es-ES", dateOptions)}</span
						>
					</span>
					<span
						>Carrera:
						<span class="font-bold">{gp.carrera?.toLocaleTimeString("es-ES", dateOptions)}</span>
					</span>
				</div>
			</div>
			{
				gp.limite_apostar && (
					<div class="mt-3 flex flex-col justify-center">
						<Countdown fechaLimite={gp.limite_apostar.toISOString()} />
						<span class="text-center text-sm text-red-300">
							Límite ap: {gp.limite_apostar?.toLocaleTimeString("es-ES", dateOptions)}
						</span>
					</div>
				)
			}
		</a>
	</article>
</div>
