---
import HeroGP from "@/components/HeroGP.astro"
import Check from "@/icons/Check.astro"
import Clock from "@/icons/Clock.astro"
import Close from "@/icons/Close.astro"
import Layout from "@/layouts/Layout.astro"
import Nav from "@/sections/Nav.astro"
import { turso } from "@/turso"

const { i } = Astro.params
const gpId = i ?? 0
const { rows } = await turso.execute({ sql: "SELECT * FROM gp WHERE id = ?", args: [gpId] })
const infoGP = rows[0]

const { rows: rowsAp } = await turso.execute({
	sql: "SELECT a.id, a.descripcion, a.importe, a.cuota, a.ganancia, a.estado, a.userId, u.nombre FROM apuesta a INNER JOIN user u on u.id = a.userId WHERE a.gpId = ? order by a.userId",
	args: [gpId],
})

console.log(rowsAp)
---

<Layout title="F1 Limb">
	<Nav info={infoGP} />
	<main class="mx-auto max-w-6xl px-2 pt-16 md:pt-20 lg:px-10">
		<h2 class="mb-5 text-center text-xl font-bold">Administración</h2>
		<HeroGP info={infoGP} />
		<ul class="">
			{
				rowsAp.map((a, index) => (
					<li
						class="my-3 flex items-center justify-between"
						class:list={[{ "bg-gray-200": index % 2 == 0 }]}
					>
						<div class="flex items-center">
							<span>
								{a.estado == 1 && <Clock class="mr-1 h-5 w-5 text-gray-500 " />}
								{a.estado == 2 && <Check class="mr-1 h-5 w-5 text-green-500 " />}
								{a.estado == 3 && <Close class="mr-1 h-5 w-5 text-red-500 " />}
							</span>
							<span set:html={a.descripcion} />
							<span class="mx-1 font-semibold">{a.importe}€</span>
							<span class="font-semibold">@{a.cuota}</span>
						</div>
						<span
							class:list={[
								"ml-1 flex items-center rounded-lg px-1 text-sm ",
								{ "bg-gray-300": a.estado === 1 },
								{ "bg-green-300": a.estado === 2 },
								{ "bg-red-300": a.estado === 3 },
							]}
						/>
						<select
							class=" p-2"
							class:list={[
								{ "bg'transparent": a.estado === 1 },
								{ "bg-green-300": a.estado === 2 },
								{ "bg-red-300": a.estado === 3 },
							]}
						>
							<option value="1">Pendiente</option>
							<option value="2" selected={a.estado == 2}>
								Acertada
							</option>
							<option value="3" selected={a.estado == 3}>
								Fallada
							</option>
						</select>
					</li>
				))
			}
		</ul>
	</main>
</Layout>
