---
import HeroGP from "@/components/HeroGP.astro"
import UpdateEstado from "@/components/UpdateEstado.svelte"
import UsuariosApostado from "@/components/UsuariosApostado.astro"
import Back from "@/icons/Back.astro"
import New from "@/icons/New.astro"
import Refresh from "@/icons/Refresh.astro"
import Layout from "@/layouts/Layout.astro"
import { ApuestaService } from "@/lib/apuestaService"
import { GpService } from "@/lib/gpService"
import { UserService } from "@/lib/userService"
import Nav from "@/sections/Nav.astro"

import { getSession } from "auth-astro/server"

const session = await getSession(Astro.request)

let userService = new UserService()
let gpService = new GpService()
let apuestaService = new ApuestaService()

const isAdmin = await userService.isAdmin(session)

// Si no admin redirect
if (!isAdmin) return Astro.redirect("/")

const { i } = Astro.params
const gpId = parseInt(i || "0")

const gp = await gpService.getGp(gpId)
const listApuestas = await apuestaService.getApuestasByGPWithUser(gpId)
const participantes = await userService.getParticipantesTeam(gp.temporada?.id)

participantes.forEach((p) => {
	p.apuestas = []
	if (listApuestas !== undefined) {
		/**FIXME check usuario */

		let apuestasUsuario = listApuestas.filter((a) => a.participante?.id === p.id)
		p.apuestas = apuestasUsuario
	}
})
---

<Layout title="F1 Limb">
	<Nav idTemporada={gp.temporada?.id} nombreTemporada={gp.temporada?.nombre} />
	<main class="mx-auto max-w-6xl px-2 pt-16 md:pt-20 lg:px-10">
		<h2 class="mb-5 text-center text-xl font-bold">Administración</h2>
		<HeroGP gp={gp} />
		<section class="mx-auto my-10 flex max-w-6xl justify-between gap-2">
			<a
				href={"/gp/" + gpId}
				title={"Apuestas de " + gp.nombre}
				class="flex bg-teal-200 px-3 py-2 text-teal-800 hover:bg-teal-500 hover:text-black"
			>
				<i><Back class="mr-1 h-5 w-5 text-teal-800" /></i>
				Volver
			</a>
			<div class="flex gap-2">
				<a
					href={"/gp/" + gpId + "/admin/new"}
					title={"Apuestas de " + gp.nombre}
					class="flex bg-teal-800 px-3 py-2 text-white hover:bg-teal-500 hover:text-black"
				>
					<i><New class="mr-1 h-5 w-5 text-white" /></i>
					Nueva
				</a>
				<a
					href={"/gp/" + gpId + "/admin"}
					title="Refrescar"
					class="flex bg-teal-200 px-3 py-2 text-teal-800 hover:bg-teal-500 hover:text-black"
				>
					<i><Refresh class="mr-1 h-5 w-5 text-teal-800" /></i>
					Refrescar
				</a>
			</div>
		</section>

		<section>
			<UsuariosApostado idGP={gpId} idTemporada={gp.temporada?.id} />
		</section>

		<UpdateEstado listApuestasParticipantes={participantes} client:load />
	</main>
</Layout>
